:root {
    --bg: #E9ECEE;
    --text-color: #4E4B48;
    --link-color: #598DFA;
    --small-text: 13px;
}

h1,h2,h3,h4,h5,p,span, .form-control, .dropdown-toggle, .dropdown-item{
    color: var(--text-color);
}

html, body{
    height: 100%;
    background-color: var(--bg);
}

#date-picker, #drop1, #time-select{
    font-size: var(--small-text);
}

#date-picker:focus, #time-select:focus{
    box-shadow: none;
}